.DS_Store
recentf
network-security.data
smex-items
ido.last
bookmarks
ac-comphist.dat

.python-environments/*

auto-save-list/*

backup/*
!.keep

cache/*
!.keep

elpa/*

eshell/*

elisp/*
!.keep

url/*
